@font-face {
  font-family: 'learning-curve-regular';
  src: url('../fonts/learning_curve_regular.otf') format('truetype');
  display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  display: swap;
}
@view-transition {
    navigation: auto;
}

@keyframes latido {
  0%   { transform: scale(1); }
  25%  { transform: scale(1.1); }
  40%  { transform: scale(0.95); }
  60%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.latido {
  display: inline-block;
  /* animation: latido 1s infinite; */
  animation: latido 1.2s ease-in-out infinite;
  transform-origin: center;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #000;
  --rose: #ff4d8d;
  --dark-rose: #ff2d6d;
  --yelow: #e6cc4c;
}
body{
    color: azure;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    /* font-family: plus-jakarta-sans, sans-serif; */
    font-family: Montserrat, sans-serif;
    min-height: 100%;
}
header{
    letter-spacing: 0.2em;
    font-size: .5em;
    color: var(--yelow);
    text-align: center;
}
main{
    min-height: 60%;
}
a{
    text-decoration: none;
}

::view-transition-old(root) {
  animation: fade-out 1s ease forwards;
}

::view-transition-new(root) {
  animation: fade-in 1s ease forwards;
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: scale(.95);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
}

.img {
    width: 20em;
    height: auto;
}
a.social{
    color: var(--yelow);
    opacity: 0.3;
}
p.text{
    text-align: center;
    margin: 20px 10px 20px 10px;
    line-height: 1.625;
    font-family: Montserrat, sans-serif;
    /* font-size: 28px; */
}
footer{
    font-size: 0.7em;
    color: #94a3b857;
}
.textt{
    font-size: 0.9em;
    color: #94a3b88d;
}
.italic {
    font-style: italic;
}
h1{
    font-family: learning-curve-regular, cursive;
    font-size: 3rem;

}
.bold {
    font-weight: bold;
}
.from {
    font-size: 0.8em;
    margin-bottom: 25px;
}
.text-center {
    text-align: center;
}
.text-end {
    text-align: end;
    margin-right: 80px;
}
.icon {
    width: 120px;
    height: 120px;
    background-color: var(--yelow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 auto 25px auto;
}
.btn{
    padding: 10px 20px;
    background: var(--yelow);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease;
}

.btn svg{
    width: 15px;
    height: 15px;
    margin-left: 6px;
}
.lights {
    display: none;
}
.btn:hover{
    background-color: var(--dark-rose);
}
.btn:hover ~ .lights {
    display: block;
}
.box{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    margin: auto;
    height: 100%;
    width: 900px;
}
.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    width: 400px;
}
.flower__light {
  position: absolute;
  bottom: 0vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: rgb(255, 251, 0);
  border-radius: 50%;
  filter: blur(0.2vmin);
  -webkit-animation: light-ans 4s linear infinite backwards;
  animation: light-ans 4s linear infinite backwards;
}
.flower__light:nth-child(odd) {
  background-color: #23f0ff;
}
.flower__light--1 {
  left: -2vmin;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.flower__light--2 {
  left: 3vmin;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.flower__light--3 {
  left: -6vmin;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.flower__light--4 {
  left: 6vmin;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.flower__light--5 {
  left: -1vmin;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.flower__light--6 {
  left: -4vmin;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.flower__light--7 {
  left: 3vmin;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.flower__light--8 {
  left: -6vmin;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
@-webkit-keyframes light-ans {
  0% {
    opacity: 0;
    transform: translateY(0vmin);
  }
  25% {
    opacity: 1;
    transform: translateY(-5vmin) translateX(-2vmin);
  }
  50% {
    opacity: 1;
    transform: translateY(-15vmin) translateX(2vmin);
    filter: blur(0.2vmin);
  }
  75% {
    transform: translateY(-20vmin) translateX(-2vmin);
    filter: blur(0.2vmin);
  }
  100% {
    transform: translateY(-30vmin);
    opacity: 0;
    filter: blur(1vmin);
  }
}
@keyframes light-ans {
  0% {
    opacity: 0;
    transform: translateY(0vmin);
  }
  25% {
    opacity: 1;
    transform: translateY(-5vmin) translateX(-2vmin);
  }
  50% {
    opacity: 1;
    transform: translateY(-15vmin) translateX(2vmin);
    filter: blur(0.2vmin);
  }
  75% {
    transform: translateY(-20vmin) translateX(-2vmin);
    filter: blur(0.2vmin);
  }
  100% {
    transform: translateY(-30vmin);
    opacity: 0;
    filter: blur(1vmin);
  }
}

.relative {
    position: relative;
}
@media screen and (max-width:574px){
    .description{
        font-size: 2rem;
    }
    
    .button a{
        font-size: 1rem;
    }
}